.inputBorder {

    padding: 5px;
    height: 40px;
}

.btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active, .btn.btn-info:active:focus, .btn.btn-info:active:hover, .btn.btn-info.active:focus, .btn.btn-info.active:hover, .open > .btn.btn-info.dropdown-toggle, .open > .btn.btn-info.dropdown-toggle:focus, .open > .btn.btn-info.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-info, .navbar .navbar-nav > li > a.btn.btn-info:hover, .navbar .navbar-nav > li > a.btn.btn-info:focus, .navbar .navbar-nav > li > a.btn.btn-info:active, .navbar .navbar-nav > li > a.btn.btn-info.active, .navbar .navbar-nav > li > a.btn.btn-info:active:focus, .navbar .navbar-nav > li > a.btn.btn-info:active:hover, .navbar .navbar-nav > li > a.btn.btn-info.active:focus, .navbar .navbar-nav > li > a.btn.btn-info.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:hover {
    background-color: #034666 !important;
    border-color: #023147;
}

.inputTitle {
    font-family: "Century Gothic", "Helvetica", sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: #023147 !important;
    margin: 5px;
    text-align: right;
    min-width: 55px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .6), 0px -1px 0px rgba(0, 0, 0, .1);
}

.p-autoComplete-desc {
    width: 52px;
    font-size: 11px;
    display: inline-block;
    margin: 5px 0 2px 5px
}

.p-autoComplete-lbl {
    font-size: 11px;
    margin: 10px 10px 0 0
}

.p-autoComplete-ctr {
    border-bottom: 1px solid #D5D5D5;
}

/*
.ctr{
    width: 100%;
    margin: 0 auto;
}*/
.ctr {
    display: flex; /* or inline-flex */
    flex-direction: row;
}

.headerLeft {
    width: 30%;
}

.headerRight {
    width: 70%;
}

.delFontClr {
    color: #fb6999;
}

.addFontClr {
    color: #53f998;
}

.CancelClr {
    background-color: #ab361b !important;
}

.ctr-col {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txtentry {
    width: 233px;
    height: 30px;
}

.ui-column-title {
    font-weight: normal;
}

.simple-notification-wrapper {
    width: 400px !important;
}