<div class="main-content">
    <div class="container-fluid">


        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Customer Profile Assignments</h4>
                <p class="category">Can perform search based following category feilds</p>
            </div>
            <div class="main-content">
                <div class="ctr-col">
                    <div class="ctr">
                        <div class="inputTitle">Customer</div>
                        <div class="">
                            <p-autoComplete [(ngModel)]="customer"
                                            [suggestions]="filteredCustomersSingle"
                                            (completeMethod)="filterSingle($event, 'customer')"
                                            field="desc"
                                            size="35"
                                            placeholder="Customer"
                                            [minLength]="1">
                                <ng-template let-cust pTemplate="item">
                                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                        <span style="width:52px;font-size:11px;display:inline-block;margin:5px 0 2px 5px">{{cust.desc}}</span>
                                        <span style="font-size:11px;margin:10px 10px 0 0">{{cust.label}}</span>
                                    </div>
                                </ng-template>

                            </p-autoComplete>
                        </div>
                    </div>
                    <br>


                    <div class="ctr">
                        <div class="inputTitle">Chain</div>
                        <div class="">
                            <p-autoComplete [(ngModel)]="chain"
                                            [suggestions]="filteredChainsSingle"
                                            (completeMethod)="filterSingle($event, 'chain')"
                                            field="desc"
                                            size="35"
                                            placeholder="Chain"
                                            [minLength]="1">
                                <ng-template let-cust pTemplate="item">
                                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                        <span style="width:52px;font-size:11px;display:inline-block;margin:5px 0 2px 5px">{{cust.desc}}</span>
                                        <span style="font-size:11px;margin:10px 10px 0 0">{{cust.label}}</span>
                                    </div>
                                </ng-template>

                            </p-autoComplete>
                        </div>
                    </div>
                    <br>
                    <div class="ctr">
                        <div class="inputTitle">Group</div>
                        <div class="">
                            <p-autoComplete [(ngModel)]="group"
                                            [suggestions]="filteredGroupsSingle"
                                            (completeMethod)="filterSingle($event ,'group')"
                                            field="desc"
                                            size="35"
                                            placeholder="Group"
                                            [minLength]="1">
                                <ng-template let-cust pTemplate="item">
                                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                        <span style="width:52px;font-size:11px;display:inline-block;margin:5px 0 2px 5px">{{cust.desc}}</span>
                                        <span style="font-size:11px;margin:10px 10px 0 0">{{cust.label}}</span>
                                    </div>
                                </ng-template>

                            </p-autoComplete>
                        </div>
                    </div>

                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-info" (click)='recordSearch()'><span
                            class="fa fa-fw fa-search"></span> Search
                    </button>
                </div>
            </div>
        </div>
        <div [hidden]="!isDataAvailable">
            <div class="ctr">

                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <div class="ctr">
                            <h4 class="tablehead" style="width: 50%">Customer</h4>
                            <div style="width: 50%">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn-group btn btn-sm btn-info"
                                            (click)="deleteSelectedRecs('customer')">
                                        <i class="fa fas fa-trash fa-2x"></i>
                                    </button>
                                    <button type="button" class="btn-group btn btn-sm btn-info"
                                            (click)="addNew('customer')">
                                        <i class="fa fas fa-plus-square fa-2x"></i>
                                    </button>

                                    <button type="button" class="btn-group btn btn-sm btn-info"
                                            (click)="saveTable('customer')">
                                        <i class="fa fas fa-save fa-2x"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <p class="category">respective message</p>
                    </div>
                    <div class="card-content">
                        <div class="ui-widget-header pull-right"
                             style="padding:4px 14px;border-bottom: 0 none;margin-right: 15px;">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText placeholder="Global Filter">
                        </div>
                        <div class="main-content">
                            <div class="container-fluid">

                                <div class="row">

                                    <p-dataTable [value]="tableJSON['customers']" [rows]="10" [paginator]="true"
                                                 [globalFilter]="gb"
                                                 #dt class="tabledata"
                                                 [responsive]="true" reorderableColumns="true" [editable]="true"
                                                 (onEdit)="OnEdit($event, 'customer')"
                                                 (onEditComplete)="OnEditComplete($event, 'customer')"
                                                 (onEditCancel)="OnEditCancel($event, 'customer')"
                                                 (onRowSelect)="onRowSelection($event, 'customer')"
                                                 (onRowUnselect)="onRowUnselect($event, 'customer')">
                                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                        <p-column field="customer" header="Customer" class="tabledata"
                                                  filterPlaceholder="Search" [editable]="true">

                                            <ng-template pTemplate="editor">
                                                <p-autoComplete [(ngModel)]="customer"
                                                                [suggestions]="filteredCustomersSingle"
                                                                (completeMethod)="filterSingle($event, 'customer')"
                                                                field="desc"
                                                                size="35"
                                                                placeholder="Customer"
                                                                [minLength]="1">
                                                    <ng-template let-cust pTemplate="item">
                                                        <div class="ui-helper-clearfix"
                                                             style="border-bottom:1px solid #D5D5D5">
                                                            <span style="width:52px;font-size:11px;display:inline-block;margin:5px 0 2px 5px">{{cust.desc}}</span>
                                                            <span style="font-size:11px;margin:10px 10px 0 0">{{cust.label}}</span>
                                                        </div>
                                                    </ng-template>

                                                </p-autoComplete>
                                            </ng-template>
                                        </p-column>

                                        <p-column field="profile" header="Profile" class="tabledata"
                                                  filterPlaceholder="Search" [editable]="true"></p-column>
                                    </p-dataTable>

                                    <!--<p-table [value]="tableJSON['customers']" [rows]="10" [paginator]="true"
                                             #dt class="tabledata"
                                             [responsive]="true" [resizableColumns]="true" [reorderableColumns]="true"
                                             [globalFilterFields]="['Txn Type','EI TimeStamp','Txn Id', 'Order ID', 'SAP Document Number', 'DCNUMBER']">

                                        <ng-template pTemplate="caption">
                                            <div style="text-align: right">
                                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                                <input type="text" pInputText size="50" placeholder="Global Filter"
                                                       (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                       style="width:auto">
                                            </div>
                                        </ng-template>

                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th *ngFor="let col of cust_cols" [pSortableColumn]="col.field">
                                                    {{col.header}}
                                                </th>
                                            </tr>
                                        </ng-template>


                                        <ng-template pTemplate="body" let-rowData>
                                            <tr>
                                                <td pEditableColumn>
                                                    <p-cellEditor>
                                                        &lt;!&ndash;<ng-template pTemplate="input">
                                                            <input type="text" [(ngModel)]="rowData.customer">
                                                        </ng-template>&ndash;&gt;
                                                         <ng-template pTemplate="output">
                                                             {{rowData.customer}}
                                                         </ng-template>


                                                        <ng-template pTemplate="input">
                                                            <p-autoComplete [(ngModel)]="customer"
                                                                            [suggestions]="filteredCustomersSingle"
                                                                            (completeMethod)="filterSingle($event, 'customer')"
                                                                            field="desc"
                                                                            size="35"
                                                                            placeholder="Customer"
                                                                            [minLength]="1">
                                                                <ng-template let-cust pTemplate="item">
                                                                    <div class="ui-helper-clearfix"
                                                                         style="border-bottom:1px solid #D5D5D5">
                                                                        <span style="width:52px;font-size:11px;display:inline-block;margin:5px 0 2px 5px">{{cust.desc}}</span>
                                                                        <span style="font-size:11px;margin:10px 10px 0 0">{{cust.label}}</span>
                                                                    </div>
                                                                </ng-template>

                                                            </p-autoComplete>
                                                        </ng-template>
                                                    </p-cellEditor>
                                                </td>


                                                <td pEditableColumn>
                                                    <p-cellEditor>
                                                        <ng-template pTemplate="input">
                                                            <input type="text" [(ngModel)]="rowData.profile">
                                                        </ng-template>
                                                        <ng-template pTemplate="output">
                                                            {{rowData.profile}}
                                                        </ng-template>
                                                    </p-cellEditor>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
-->

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <span style="margin: 5px"></span>

                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <div class="ctr">
                            <h4 class="tablehead" style="width: 50%">Chain</h4>
                            <div style="width: 50%">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn-group btn btn-sm btn-info"
                                            (click)="deleteSelectedRecs('chain')">
                                        <i class="fa fas fa-trash fa-2x"></i>
                                    </button>
                                    <button type="button" class="btn-group btn btn-sm btn-info"
                                            (click)="addNew('chain')">
                                        <i class="fa fas fa-plus-square fa-2x"></i>
                                    </button>

                                    <button type="button" class="btn-group btn btn-sm btn-info"
                                            (click)="saveTable('chain')">
                                        <i class="fa fas fa-save fa-2x"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <p class="category">respective message</p>
                    </div>
                    <div class="card-content">
                        <div class="ui-widget-header pull-right"
                             style="padding:4px 14px;border-bottom: 0 none;margin-right: 15px;">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText placeholder="Global Filter">
                        </div>
                        <div class="main-content">
                            <div class="container-fluid">

                                <div class="row">

                                    <p-dataTable [value]="tableJSON['chains']" [rows]="10" [paginator]="true"
                                                 [globalFilter]="gb"
                                                 #dt class="tabledata"
                                                 [responsive]="true" reorderableColumns="true" [editable]="true"
                                                 (onEdit)="OnEdit($event, 'chain')"
                                                 (onEditComplete)="OnEditComplete($event, 'chain')"
                                                 (onEditCancel)="OnEditCancel($event, 'chain')"
                                                 (onRowSelect)="onRowSelection($event, 'chain')"
                                                 (onRowUnselect)="onRowUnselect($event, 'chain')">
                                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                        <p-column field="nat_chain" header="Chain" class="tabledata"
                                                  filterPlaceholder="Search" [editable]="true">
                                            <!--<ng-template let-col let-chain="rowData" pTemplate="editor">
                                                <p-dropdown [(ngModel)]="col.desc" [options]="chain[col.desc]" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
                                            </ng-template>-->
                                            <ng-template pTemplate="editor" let-col let-chain="rowData">
                                                <p-autoComplete [(ngModel)]="chain[col.desc]"
                                                                [suggestions]="filteredChainsSingle"
                                                                (completeMethod)="filterSingle($event, 'chain')"
                                                                field="desc"
                                                                size="35"
                                                                placeholder="Chain"
                                                                [minLength]="1">
                                                    <ng-template let-c pTemplate="item">
                                                        <div class="ui-helper-clearfix"
                                                             style="border-bottom:1px solid #D5D5D5">
                                                            <span style="width:52px;font-size:11px;display:inline-block;margin:5px 0 2px 5px">{{c.desc}}</span>
                                                            <span style="font-size:11px;margin:10px 10px 0 0">{{c.label}}</span>
                                                        </div>
                                                    </ng-template>

                                                </p-autoComplete>
                                            </ng-template>
                                        </p-column>

                                        <p-column field="profile" header="Profile" class="tabledata"
                                                  filterPlaceholder="Search" [editable]="true"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <div class="ctr">
                        <h4 class="tablehead" style="width: 50%">Group</h4>
                        <div style="width: 50%">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn-group btn btn-sm btn-info"
                                        (click)="deleteSelectedRecs('group')">
                                    <i class="fa fas fa-trash fa-2x"></i>
                                </button>
                                <button type="button" class="btn-group btn btn-sm btn-info"
                                        (click)="addNew('group')">
                                    <i class="fa fas fa-plus-square fa-2x"></i>
                                </button>

                                <button type="button" class="btn-group btn btn-sm btn-info"
                                        (click)="saveTable('group')">
                                    <i class="fa fas fa-save fa-2x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="category">respective message</p>
                </div>
                <div class="card-content">
                    <div class="ui-widget-header pull-right"
                         style="padding:4px 14px;border-bottom: 0 none;margin-right: 15px;">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input #gb type="text" pInputText placeholder="Global Filter">
                    </div>
                    <div class="main-content">
                        <div class="container-fluid">

                            <div class="row">

                                <p-dataTable [value]="tableJSON['groups']" [rows]="10" [paginator]="true"
                                             [globalFilter]="gb"
                                             #dt class="tabledata"
                                             [responsive]="true" reorderableColumns="true" [editable]="true"
                                             (onEdit)="OnEdit($event, 'group')"
                                             (onEditComplete)="OnEditComplete($event, 'group')"
                                             (onEditCancel)="OnEditCancel($event, 'group')"
                                             (onRowSelect)="onRowSelection($event, 'group')"
                                             (onRowUnselect)="onRowUnselect($event, 'group')">

                                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                    <p-column field="nat_group" header="Group" class="tabledata"
                                              filterPlaceholder="Search" [editable]="true">

                                        <ng-template pTemplate="editor">
                                            <p-autoComplete [(ngModel)]="group"
                                                            [suggestions]="filteredGroupsSingle"
                                                            (completeMethod)="filterSingle($event, 'chain')"
                                                            field="desc"
                                                            size="35"
                                                            placeholder="Group"
                                                            [minLength]="1">
                                                <ng-template let-group pTemplate="item">
                                                    <div class="ui-helper-clearfix"
                                                         style="border-bottom:1px solid #D5D5D5">
                                                        <span style="width:52px;font-size:11px;display:inline-block;margin:5px 0 2px 5px">{{group.desc}}</span>
                                                        <span style="font-size:11px;margin:10px 10px 0 0">{{group.label}}</span>
                                                    </div>
                                                </ng-template>

                                            </p-autoComplete>
                                        </ng-template>
                                    </p-column>

                                    <p-column field="nat_subgroup" header="SubGroup" class="tabledata"
                                              filterPlaceholder="Search" [editable]="true"></p-column>

                                    <p-column field="nat_region" header="Region" class="tabledata"
                                              filterPlaceholder="Search" [editable]="true"></p-column>
                                    <p-column field="nat_district" header="District" class="tabledata"
                                              filterPlaceholder="Search" [editable]="true"></p-column>
                                    <p-column field="profile" header="Profile" class="tabledata"
                                              filterPlaceholder="Search" [editable]="true"></p-column>
                                </p-dataTable>


                                <!--<p-table [value]="results" [rows]="10" [paginator]="true"
                                         #dt class="tabledata"
                                         [responsive]="true" [resizableColumns]="true" [reorderableColumns]="true"
                                         [globalFilterFields]="['Txn Type','EI TimeStamp','Txn Id', 'Order ID', 'SAP Document Number', 'DCNUMBER']">

                                    <ng-template pTemplate="caption">
                                        <div style="text-align: right">
                                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                            <input type="text" pInputText size="50" placeholder="Global Filter"
                                                   (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                   style="width:auto">
                                        </div>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>


                                    <ng-template pTemplate="body" let-result>
                                        <tr>
                                            <td *ngFor="let col of cols" pEditableColumn>
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <input type="text" [(ngModel)]="result[col.field]">
                                                    </ng-template>
                                                    <ng-template pTemplate="output">
                                                        {{result[col.field]}}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!--

<p-dialog header="{{currentWidget}}" [(visible)]="display" modal="modal" [responsive]="true" [width]="350"
          [minWidth]="200"
          [minY]="70"><br>
    <div style="min-height: 230px">
        <div class="ctr-col">
            <p-autoComplete [(ngModel)]="customer"
                            [suggestions]="filteredCustomersSingle"
                            (completeMethod)="filterSingle($event, 'customer')"
                            field="name"
                            placeholder="Customers"
                            [minLength]="1"></p-autoComplete>
            <br><br>
            <input type="text" placeholder="Profile" class="txtentry">
        </div>
        <br><br><br>
        <div class="ctr pull-right">
            <button type="button" (click)="display=false"
                    class="btn btn-danger btn-sm CancelClr"><span class="fa fas fa-times"></span> CANCEL
            </button>
            <button type="button" pButton icon="fa-check" (click)="display=false" label="Yes"
                    class="btn btn-sm btn-info "><span class="fa fa-fw fa-save"></span> &nbsp;SAVE &nbsp;
            </button>
        </div>

    </div>
</p-dialog>
-->
