<div class="main-content">
    <div class="container-fluid">


        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Customer Profile Assignments</h4>
                <p class="category">Can perform search based following category fields</p>
            </div>
            <div class="main-content">
                <div class="ctr-col">
                    <div class="ctr">
                        <div class="inputTitle">Customer</div>
                        <div class="">
                            <p-autoComplete [(ngModel)]="customer"
                                            [suggestions]="filteredCustomersISM"
                                            (completeMethod)="filterISM($event, customer_tag)"
                                            field="desc"
                                            size="25"
                                            placeholder="Customer"
                                            [minLength]="1">
                                <ng-template let-cust pTemplate="item">
                                    <div class="ui-helper-clearfix" class="p-autoComplete-ctr">
                                        <span class="p-autoComplete-desc">{{cust.desc}}</span>
                                        <span class="p-autoComplete-lbl">{{cust.label}}</span>
                                    </div>
                                </ng-template>

                            </p-autoComplete>
                        </div>
                    </div>
                    <br>


                    <div class="ctr">
                        <div class="inputTitle">Chain</div>
                        <div class="">
                            <p-autoComplete [(ngModel)]="chain"
                                            [suggestions]="filteredChainsISM"
                                            (completeMethod)="filterISM($event, chain_tag)"
                                            field="desc"
                                            size="25"
                                            placeholder="Chain"
                                            [minLength]="1">
                                <ng-template let-chain pTemplate="item">
                                    <div class="ui-helper-clearfix" class="p-autoComplete-ctr">
                                        <span class="p-autoComplete-desc">{{chain.desc}}</span>
                                        <span class="p-autoComplete-lbl">{{chain.label}}</span>
                                    </div>
                                </ng-template>

                            </p-autoComplete>
                        </div>
                    </div>
                    <br>
                    <div class="ctr">
                        <div class="inputTitle">Group</div>
                        <div class="">
                            <p-autoComplete [(ngModel)]="group"
                                            [suggestions]="filteredGroupsISM"
                                            (completeMethod)="filterISM($event ,group_tag)"
                                            field="desc"
                                            size="25"
                                            placeholder="Group"
                                            [minLength]="1">
                                <ng-template let-grp pTemplate="item">
                                    <div class="ui-helper-clearfix" class="p-autoComplete-ctr">
                                        <span class="p-autoComplete-desc">{{grp.desc}}</span>
                                        <span class="p-autoComplete-lbl">{{grp.label}}</span>
                                    </div>
                                </ng-template>

                            </p-autoComplete>
                        </div>
                    </div>

                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-info" (click)='recordSearch()'><span
                            class="fa fa-fw fa-search"></span> Search
                    </button>
                </div>
            </div>
        </div>
        <div [hidden]="!isDataAvailable">

            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <div class="ctr">
                                <h4 class="tablehead" class="headerLeft">Customer</h4>
                                <div class="headerRight">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn-group btn btn-sm btn-info"
                                                (click)="deleteSelectedRecs(customers_tag, 'nat_customer')">
                                            <i class="fa fas fa-trash fa-2x"></i>
                                        </button>
                                        <button type="button" class="btn-group btn btn-sm btn-info"
                                                (click)="addNew(customer_tag)">
                                            <i class="fa fas fa-plus-square fa-2x"></i>
                                        </button>

                                        <button type="button" class="btn-group btn btn-sm btn-info"
                                                (click)="saveTable(customer_tag)">
                                            <i class="fa fas fa-save fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="category">respective message</p>
                        </div>
                        <div class="card-content">
                            <!-- <div class="ui-widget-header pull-right"
                                  style="padding:4px 14px;border-bottom: 0 none;margin-right: 15px;">
                                 <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                 <input #gb type="text" pInputText placeholder="Global Filter">
                             </div>-->
                            <div class="main-content">
                                <div class="container-fluid">

                                    <div class="row">

                                        <p-dataTable [value]="tableJSON[customers_tag]" [rows]="10" [paginator]="true" #custdt
                                                     [responsive]="true" reorderableColumns="true" [editable]="true"
                                                     (onRowSelect)="onRowSelection($event, customers_tag, 'nat_customer')"
                                                     (onRowClick)="onRowClick($event, customer_tag)"
                                                     (onRowUnselect)="onRowUnselect($event, customers_tag, customer_tag)">
                                            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                            <p-column field="cust_desc" header="Customer"
                                                      [editable]="isEditable_prime"
                                                      [style]="{'font-weight': '900'}">

                                                <ng-template pTemplate="editor" let-col let-cust_tbl="rowData">
                                                    <p-autoComplete [(ngModel)]="cust_tbl[col.field]"
                                                                    [suggestions]="filteredCustomersISM"
                                                                    (completeMethod)="filterISM($event, customer_tag)"
                                                                    (onFocus)="onFocusEnter($event, cust_tbl['nat_customer'])"
                                                                    (onSelect)="onSelectAC($event, 'cust_desc', 'nat_customer', cust_tbl, customers_tag)"
                                                                    placeholder="Customer"
                                                                    field="desc"
                                                                    size="35"
                                                                    [minLength]="1">
                                                        <ng-template let-c pTemplate="item">
                                                            <div class="ui-helper-clearfix"
                                                                 class="p-autoComplete-ctr">
                                                                <span class="p-autoComplete-desc">{{c.desc}}</span>
                                                                <span class="p-autoComplete-lbl">{{c.label}}</span>
                                                            </div>
                                                        </ng-template>

                                                    </p-autoComplete>
                                                </ng-template>
                                            </p-column>

                                            <p-column field="profile_desc" header="Profile"
                                                      [editable]="true">
                                                <ng-template pTemplate="editor" let-col let-pro_tbl="rowData">
                                                    <p-autoComplete [(ngModel)]="pro_tbl[col.field]"
                                                                    [suggestions]="filteredProfile"
                                                                    (completeMethod)="filterProfile($event)"
                                                                    (onFocus)="onFocusEnter($event, pro_tbl['profile'])"
                                                                    (onSelect)="onSelectProfile($event, 'profile_desc', 'profile', pro_tbl)"
                                                                    field="profile_desc"
                                                                    placeholder="Profile"
                                                                    size="35"
                                                                    [minLength]="1">
                                                        <ng-template let-c pTemplate="item">
                                                            <div class="ui-helper-clearfix"
                                                                 class="p-autoComplete-ctr">
                                                                <span class="p-autoComplete-desc">{{c.profile}}</span>
                                                                <span class="p-autoComplete-lbl">{{c.description}}</span>
                                                            </div>
                                                        </ng-template>

                                                    </p-autoComplete>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- <span style="margin: 5px"></span>-->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <div class="ctr">
                                <h4 class="tablehead" class="headerLeft">Chain</h4>
                                <div class="headerRight">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn-group btn btn-sm btn-info"
                                                (click)="deleteSelectedRecs(chains_tag,'nat_chain')">
                                            <i class="fa fas fa-trash fa-2x"></i>
                                        </button>
                                        <button type="button" class="btn-group btn btn-sm btn-info"
                                                (click)="addNew(chain_tag)">
                                            <i class="fa fas fa-plus-square fa-2x"></i>
                                        </button>

                                        <button type="button" class="btn-group btn btn-sm btn-info"
                                                (click)="saveTable(chain_tag)">
                                            <i class="fa fas fa-save fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p class="category">respective message</p>
                        </div>
                        <div class="card-content">
                            <!--<div class="ui-widget-header pull-right"
                                 style="padding:4px 14px;border-bottom: 0 none;margin-right: 15px;">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input #gb type="text" pInputText placeholder="Global Filter">
                            </div>-->
                            <div class="main-content">
                                <div class="container-fluid">

                                    <div class="row">

                                        <p-dataTable [value]="tableJSON[chains_tag]" [rows]="10" [paginator]="true"
                                                     #chaindt
                                                     [responsive]="true" reorderableColumns="true" [editable]="true"
                                                     (onRowSelect)="onRowSelection($event, chains_tag, chain_tag)"
                                                     (onRowClick)="onRowClick($event, chain_tag)"
                                                     (onRowUnselect)="onRowUnselect($event, chains_tag, chain_tag)">
                                            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

                                            <p-column field="chain_desc" header="Chain"
                                                      [editable]="isEditable_prime"
                                                      [style]="{'font-weight': '900'}">
                                                <!--<ng-template let-col let-chain="rowData" pTemplate="editor">
                                                    <p-dropdown [(ngModel)]="col.desc" [options]="chain[col.desc]" [autoWidth]="false" [style]="{'width':'100%'}" required="true"  appendTo="body"></p-dropdown>
                                                </ng-template>-->
                                                <ng-template pTemplate="editor" let-col let-chain_tbl="rowData"
                                                             let-i="rowIndex">
                                                    <p-autoComplete [(ngModel)]="chain_tbl[col.field]"
                                                                    [suggestions]="filteredChainsISM"
                                                                    (completeMethod)="filterISM($event, chain_tag)"
                                                                    (onFocus)="onFocusEnter($event, chain_tbl['nat_chain'])"
                                                                    (onSelect)="onSelectAC($event, 'chain_desc', 'nat_chain', chain_tbl, chains_tag)"
                                                                    placeholder="Chain"
                                                                    field="desc"
                                                                    size="35"
                                                                    [minLength]="1">
                                                        <ng-template let-c pTemplate="item">
                                                            <div class="ui-helper-clearfix"
                                                                 class="p-autoComplete-ctr">
                                                                <span class="p-autoComplete-desc">{{c.desc}}</span>
                                                                <span class="p-autoComplete-lbl">{{c.label}}</span>
                                                            </div>
                                                        </ng-template>

                                                    </p-autoComplete>
                                                </ng-template>
                                            </p-column>

                                            <p-column field="profile_desc" header="Profile"
                                                      [editable]="true">
                                                <ng-template pTemplate="editor" let-col let-pro_tbl="rowData">
                                                    <p-autoComplete [(ngModel)]="pro_tbl[col.field]"
                                                                    [suggestions]="filteredProfile"
                                                                    (completeMethod)="filterProfile($event)"
                                                                    (onFocus)="onFocusEnter($event, pro_tbl['profile'])"
                                                                    (onSelect)="onSelectProfile($event, 'profile_desc', 'profile', pro_tbl)"
                                                                    field="profile_desc"
                                                                    placeholder="Profile"
                                                                    size="35"
                                                                    [minLength]="1">
                                                        <ng-template let-c pTemplate="item">
                                                            <div class="ui-helper-clearfix"
                                                                 class="p-autoComplete-ctr">
                                                                <span class="p-autoComplete-desc">{{c.profile}}</span>
                                                                <span class="p-autoComplete-lbl">{{c.description}}</span>
                                                            </div>
                                                        </ng-template>

                                                    </p-autoComplete>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <div class="ctr">
                        <h4 class="tablehead" class="headerLeft">Group</h4>
                        <div class="headerRight">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn-group btn btn-sm btn-info"
                                        (click)="deleteSelectedRecs(groups_tag, 'nat_group')">
                                    <i class="fa fas fa-trash fa-2x"></i>
                                </button>
                                <button type="button" class="btn-group btn btn-sm btn-info"
                                        (click)="addNew(group_tag)">
                                    <i class="fa fas fa-plus-square fa-2x"></i>
                                </button>

                                <button type="button" class="btn-group btn btn-sm btn-info"
                                        (click)="saveTable(group_tag)">
                                    <i class="fa fas fa-save fa-2x"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="category">respective message</p>
                </div>
                <div class="card-content">
                    <!-- <div class="ui-widget-header pull-right"
                          style="padding:4px 14px;border-bottom: 0 none;margin-right: 15px;">
                         <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                         <input #gb type="text" pInputText placeholder="Global Filter">
                     </div>-->
                    <div class="main-content">
                        <div class="container-fluid">

                            <div class="row">

                                <p-dataTable [value]="tableJSON[groups_tag]" [rows]="10" [paginator]="true"
                                             #groupdt
                                             [responsive]="true" reorderableColumns="true" [editable]="true"
                                             (onRowSelect)="onRowSelection($event, groups_tag, group_tag)"
                                             (onRowClick)="onRowClick($event, group_tag)"
                                             (onRowUnselect)="onRowUnselect($event, groups_tag, group_tag)">

                                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                                    <p-column field="group_desc" header="Group"
                                              [editable]="isEditable_prime"
                                              [style]="{'font-weight': '900'}">


                                        <ng-template pTemplate="editor" let-col let-group_tbl="rowData">
                                            <p-autoComplete [(ngModel)]="group_tbl[col.field]"
                                                            [suggestions]="filteredGroupsISM"
                                                            (completeMethod)="filterISM($event, group_tag)"
                                                            (onFocus)="onFocusEnter($event, group_tbl['nat_group'])"
                                                            (onSelect)="onSelectAC($event, 'group_desc', 'nat_group', group_tbl, groups_tag)"
                                                            field="desc"
                                                            size="35"
                                                            placeholder="Group"
                                                            [minLength]="1">
                                                <ng-template let-c pTemplate="item">
                                                    <div class="ui-helper-clearfix"
                                                         class="p-autoComplete-ctr">
                                                        <span class="p-autoComplete-desc">{{c.desc}}</span>
                                                        <span class="p-autoComplete-lbl">{{c.label}}</span>
                                                    </div>
                                                </ng-template>

                                            </p-autoComplete>
                                        </ng-template>
                                    </p-column>

                                    <p-column field="subgroup_desc" header="SubGroup"
                                              [editable]="isEditable_prime"
                                              [style]="{'font-weight': '900'}">

                                        <ng-template pTemplate="editor" let-col let-subgroup_tbl="rowData">
                                            <p-autoComplete [(ngModel)]="subgroup_tbl[col.field]"
                                                            [suggestions]="filteredGroupsISM"
                                                            (completeMethod)="filterISM($event, group_tag, 2 , subgroup_tbl['nat_group'])"
                                                            (onFocus)="onFocusEnter($event, subgroup_tbl['nat_subgroup'])"
                                                            (onSelect)="onSelectAC($event, 'subgroup_desc', 'nat_subgroup', subgroup_tbl)"
                                                            field="desc"
                                                            placeholder="Subgroup"
                                                            size="35"
                                                            [minLength]="1">
                                                <ng-template let-c pTemplate="item">
                                                    <div class="ui-helper-clearfix"
                                                         class="p-autoComplete-ctr">
                                                        <span class="p-autoComplete-desc">{{c.desc}}</span>
                                                        <span class="p-autoComplete-lbl">{{c.label}}</span>
                                                    </div>
                                                </ng-template>

                                            </p-autoComplete>
                                        </ng-template>
                                    </p-column>

                                    <p-column field="region_desc" header="Region"
                                              [editable]="isEditable_prime"
                                              [style]="{'font-weight': '900'}">
                                        <ng-template pTemplate="editor" let-col let-district_desc="rowData">
                                            <p-autoComplete [(ngModel)]="district_desc[col.field]"
                                                            [suggestions]="filteredGroupsISM"
                                                            (completeMethod)="filterISM($event, group_tag, 3 , district_desc['nat_subgroup'])"
                                                            (onFocus)="onFocusEnter($event, district_desc['nat_region'])"
                                                            (onSelect)="onSelectAC($event, 'region_desc', 'nat_region', district_desc)"
                                                            field="desc"
                                                            placeholder="Region"
                                                            size="35"
                                                            [minLength]="1">
                                                <ng-template let-c pTemplate="item">
                                                    <div class="ui-helper-clearfix"
                                                         class="p-autoComplete-ctr">
                                                        <span class="p-autoComplete-desc">{{c.desc}}</span>
                                                        <span class="p-autoComplete-lbl">{{c.label}}</span>
                                                    </div>
                                                </ng-template>

                                            </p-autoComplete>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="district_desc" header="District"
                                              [editable]="isEditable_prime"
                                              [style]="{'font-weight': '900'}">
                                        <ng-template pTemplate="editor" let-col let-district_desc="rowData">
                                            <p-autoComplete [(ngModel)]="district_desc[col.field]"
                                                            [suggestions]="filteredGroupsISM"
                                                            (completeMethod)="filterISM($event, group_tag, 4 , district_desc['nat_region'])"
                                                            (onFocus)="onFocusEnter($event, district_desc['nat_region'])"
                                                            (onSelect)="onSelectAC($event, 'region_desc', 'nat_district', district_desc)"
                                                            field="desc"
                                                            placeholder="District"
                                                            size="35"
                                                            [minLength]="1">
                                                <ng-template let-c pTemplate="item">
                                                    <div class="ui-helper-clearfix"
                                                         class="p-autoComplete-ctr">
                                                        <span class="p-autoComplete-desc">{{c.desc}}</span>
                                                        <span class="p-autoComplete-lbl">{{c.label}}</span>
                                                    </div>
                                                </ng-template>

                                            </p-autoComplete>
                                        </ng-template>
                                    </p-column>
                                    <p-column field="profile_desc" header="Profile"
                                              [editable]="true">
                                        <ng-template pTemplate="editor" let-col let-pro_tbl="rowData">
                                            <p-autoComplete [(ngModel)]="pro_tbl[col.field]"
                                                            [suggestions]="filteredProfile"
                                                            (completeMethod)="filterProfile($event)"
                                                            (onFocus)="onFocusEnter($event, pro_tbl['profile'])"
                                                            (onSelect)="onSelectProfile($event, 'profile_desc', 'profile', pro_tbl)"
                                                            field="profile_desc"
                                                            placeholder="Profile"
                                                            size="35"
                                                            [minLength]="1">
                                                <ng-template let-c pTemplate="item">
                                                    <div class="ui-helper-clearfix"
                                                         class="p-autoComplete-ctr">
                                                        <span class="p-autoComplete-desc">{{c.profile}}</span>
                                                        <span class="p-autoComplete-lbl">{{c.description}}</span>
                                                    </div>
                                                </ng-template>

                                            </p-autoComplete>
                                        </ng-template>
                                    </p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>