<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" (ngModel)="connectOrders"
                 (click)="getData($event, 'ConnectOrders')">
                <div class="card card-stats" #connectOrders>
                    <div class="card-header" data-background-color="purple">
                        <i class="fa fas fa-sitemap fa-2x"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">50 Orders</p>
                        <h3 class="title">&nbsp;</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">date_range</i>--> Connect Orders
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" (ngModel)="edi" (click)="getData($event, 'EDI')">
                <div class="card card-stats" #edi>
                    <div class="card-header" data-background-color="brown">
                        <i class="material-icons">reorder</i>
                    </div>
                    <div class="card-content">
                        <p class="category">5 Orders</p>
                        <h3 class="title">&nbsp;</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">update</i>--> EDI
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" (ngModel)="ent" (click)="getData($event, 'ENT')">
                <div class="card card-stats" #ent>
                    <div class="card-header" data-background-color="blue">
                        <i class="fa fas fa-random fa-2x"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">55 Deliveries</p>
                        <h3 class="title">75 Orders</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">local_offer</i>--> ENT Integration
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" (ngModel)="sap" (click)="getData($event, 'SAP')">
                <div class="card card-stats" #sap>
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons" style="line-height:20px"><img src="/assets/img/sap.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">60 Deliveries</p>
                        <h3 class="title">55 Orders</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">date_range</i>--> SAP
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6" (ngModel)="acumax" (click)="getData($event, 'ACUMAX')">
                <div class="card card-stats" #acumax>
                    <div class="card-header" data-background-color="orange">
                        <i class="fa fas fa-truck fa-2x"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">60 Deliveries</p>
                        <h3 class="title">&nbsp;</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">update</i>--> ACUMAX
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6" (ngModel)="dropship" (click)="getData($event, 'DROPSHIP')">
                <div class="card card-stats" #dropship>
                    <div class="card-header" data-background-color="teal">
                        <i class="fa fas fa-ship fa-2x"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">60 Deliveries</p>
                        <h3 class="title">&nbsp;</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">update</i>--> DropShip
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <p-table [columns]="cols" [value]="results" [paginator]="true" [rows]="10" selectionMode="single"
             [responsive]="true" [resizableColumns]="true" columnResizeMode="expand" [reorderableColumns]="true">

        <ng-template pTemplate="caption">
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="30" placeholder="Global Filter"
                       (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'vin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                </th></tr>
        </ng-template>
        <ng-template pTemplate="body" let-result let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{result[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

