<div class="main-content">
    <div class="container-fluid " (click)="removeFocus()">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4" (ngModel)="connectOrders">
                <div class="card card-stats" [class.cardStatsBorder]="focus['Connect Orders']" #connectOrders
                     (click)="getData($event, 'Connect Orders')">
                    <div class="card-header" data-background-color="purple">
                        <i class="fa fas fa-sitemap fa-2x"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">50 Orders</p>
                        <h3 class="title">&nbsp;</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">date_range</i>--> Connect Orders
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" (ngModel)="edi">
                <div class="card card-stats" [class.cardStatsBorder]="focus['EDI']" #edi
                     (click)="getData($event, 'EDI')">
                    <div class="card-header" data-background-color="brown">
                        <i class="material-icons">reorder</i>
                    </div>
                    <div class="card-content">
                        <p class="category">5 Orders</p>
                        <h3 class="title">&nbsp;</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">update</i>--> EDI
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" (ngModel)="ent">
                <div class="card card-stats" [class.cardStatsBorder]="focus['ENT Integration']" #ent
                     (click)="getData($event, 'ENT Integration')">
                    <div class="card-header" data-background-color="blue">
                        <i class="fa fas fa-random fa-2x"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">55 Deliveries</p>
                        <h3 class="title">75 Orders</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">local_offer</i>--> ENT Integration
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4" (ngModel)="sap">
                <div class="card card-stats" [class.cardStatsBorder]="focus['SAP']" #sap
                     (click)="getData($event, 'SAP')">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons" style="line-height:20px"><img src="/assets/img/sap.svg"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">60 Deliveries</p>
                        <h3 class="title">55 Orders</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">date_range</i>--> SAP
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4" (ngModel)="acumax">
                <div class="card card-stats" [class.cardStatsBorder]="focus['ACUMAX']" #acumax
                     (click)="getData($event, 'ACUMAX')">
                    <div class="card-header" data-background-color="orange">
                        <i class="fa fas fa-truck fa-2x"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">60 Deliveries</p>
                        <h3 class="title">&nbsp;</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">update</i>--> ACUMAX
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4" (ngModel)="dropship">
                <div class="card card-stats" [class.cardStatsBorder]="focus['DropShip']" #dropship
                     (click)="getData($event, 'DropShip')">
                    <div class="card-header" data-background-color="teal">
                        <i class="fa fas fa-ship fa-2x"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">60 Deliveries</p>
                        <h3 class="title">&nbsp;</h3>
                    </div>
                    <div class="card-footer">
                        <div class="dashboardheads">
                            <!--<i class="material-icons">update</i>--> DropShip
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
                <div class="pull-right" style="margin-top: 5px; padding:4px;border-bottom: 0 none">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">

                <p-dataTable [value]="results" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt class="tabledata"
                             [responsive]="true" reorderableColumns="true" selectionMode="single">
                    <p-column field="Txn Type" header="TRANSACTION TYPE" [filter]="true" class="tabledata"
                              filterPlaceholder="Search"></p-column>
                    <p-column field="EI TimeStamp" header="TIMESTAMP" [filter]="true" class="tabledata"
                              filterPlaceholder="Search"></p-column>
                    <p-column field="Txn Id" header="TRANSACTION ID" [filter]="true" class="tabledata"
                              filterPlaceholder="Search"></p-column>
                    <p-column field="Order ID" header="ORDER ID" [filter]="true" class="tabledata"
                              filterPlaceholder="Search"></p-column>
                    <p-column field="SAP Document Number" header="SAP" [filter]="true" class="tabledata"
                              filterPlaceholder="Search"></p-column>
                    <p-column field="DCNUMBER" header="DCNUMBER" [filter]="true" class="tabledata"
                              filterPlaceholder="Search"></p-column>
                </p-dataTable>
            </div>

        </div>-->
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">{{currentTab}}</h4>
                <p class="category">Respective message suppose to show here...chk with Vishnu</p>
            </div>
            <div class="card-content">
                <div class="ui-widget-header pull-right"
                     style="padding:4px 14px;border-bottom: 0 none;margin-right: 15px;">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input #gb type="text" pInputText size="35" placeholder="Global Filter">
                </div>
                <div class="main-content">
                    <div class="container-fluid">

                        <div class="row">

                            <p-dataTable [value]="results" [rows]="10" [paginator]="true" [globalFilter]="gb"
                                         #dt class="tabledata"
                                         [responsive]="true" reorderableColumns="true" selectionMode="single">
                                <p-column field="Txn Type" header="TRANSACTION TYPE" class="tabledata"
                                          filterPlaceholder="Search"></p-column>
                                <p-column field="EI TimeStamp" header="TIMESTAMP" class="tabledata"
                                          filterPlaceholder="Search"></p-column>
                                <p-column field="Txn Id" header="TRANSACTION ID" class="tabledata"
                                          filterPlaceholder="Search"></p-column>
                                <p-column field="Order ID" header="ORDER ID" class="tabledata"
                                          filterPlaceholder="Search"></p-column>
                                <p-column field="SAP Document Number" header="SAP" class="tabledata"
                                          filterPlaceholder="Search"></p-column>
                                <p-column field="DCNUMBER" header="DCNUMBER" class="tabledata"
                                          filterPlaceholder="Search"></p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>