<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
        </div>
        <p-dataTable [value]="results" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
            <p-column field="Txn Type" header="TRANSACTION TYPE" class="tabledata"  [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="EI TimeStamp" header="TIMESTAMP" class="tabledata"  [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="Txn Id" header="TRANSACTION ID" class="tabledata"  [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="Order ID" header="ORDER ID" class="tabledata"  [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="SAP Document Number" header="SAP" class="tabledata"  [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="DCNUMBER" header="DCNUMBER" [filter]="true" filterPlaceholder="Search"></p-column>
        </p-dataTable>
    </div>
</div>
</div>
