<div class="main-content">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Delayed Orders</h4>
                        <p class="category">Where order get failed in pipeline</p>
                    </div>
                    <div class="card-content">
                        <div class="ui-widget-header pull-right" style="padding:4px 14px;border-bottom: 0 none;margin-right: 15px;">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
                        </div>
                        <div class="main-content">
                            <div class="container-fluid">

                                <div class="row">


                                    <p-dataTable [value]="results" [rows]="10" [paginator]="true" [globalFilter]="gb"
                                                 #dt class="tabledata"
                                                 [responsive]="true" reorderableColumns="true" selectionMode="single">
                                        <p-column field="Txn Type" header="TRANSACTION TYPE" class="tabledata"
                                                  filterPlaceholder="Search"></p-column>
                                        <p-column field="EI TimeStamp" header="TIMESTAMP" class="tabledata"
                                                  filterPlaceholder="Search"></p-column>
                                        <p-column field="Txn Id" header="TRANSACTION ID" class="tabledata"
                                                  filterPlaceholder="Search"></p-column>
                                        <p-column field="Order ID" header="ORDER ID" class="tabledata"
                                                  filterPlaceholder="Search"></p-column>
                                        <p-column field="SAP Document Number" header="SAP" class="tabledata"
                                                  filterPlaceholder="Search"></p-column>
                                        <p-column field="DCNUMBER" header="DCNUMBER" class="tabledata"
                                                  filterPlaceholder="Search"></p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
